@import url(./fonts/fonts.css);
/* New styles extracted from inline styles */
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.Home {
  background-color: lightgrey;
  height: 100vh;
}
.content-wrapper {
  background-color: lightgrey;
}
.navbar a {
  text-decoration: none;
  color: #b63636;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-family: AphroBold;
  color: #b63636;
  font-size: 200px;
  line-height: 1em;
  word-wrap: break-word;
}

.subtitle {
  color: black;
  font-size: 55px;
  word-wrap: break-word;
}

.quote-container {
  text-align: center;
  width: 850px;

  padding: 100px;
  margin-bottom: 20px;
}

.quote {
  color: #b63636;
  font-size: 50px;
  word-wrap: break-word;
}

.quote-text {
  color: #1e1e1e;
  font-size: 25px;
  word-wrap: break-word;
}

.bottom_page {
  min-height: 200vh; /* Adjust this value to make the page as long as you need */
  background-color: lightgrey;
}

.tickets-button {
  background: #b63636;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px; /* 132% */
  letter-spacing: 0.33px;
  text-transform: uppercase;
}
.tickets-button a {
  color: #fff;
  text-decoration: none;
}
.tickets-button:hover {
  background: #d84747; /* A lighter shade of the original color */
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.3); /* Enhanced shadow for a slight lift effect */
  cursor: pointer; /* Change cursor to indicate a clickable item */
}

.box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Add this to center boxes horizontally */
  flex-wrap: wrap; /* Add this to move boxes to the next line if there is not enough space */
}
.click-here-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.click-here-button a {
  text-decoration: none;
  color: inherit;
}

.click-here-button:hover {
  background-color: black;
  color: white;
}

.box-content-card {
  display: flex;
  width: 315px;
  box-sizing: border-box; /* Add this to fix the width issue */
  padding-right: 0px;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  text-align: left;
}

.box-content-card-image {
  display: flex;
  width: 300px;
  height: 298.64px;
  padding: 15px;
  box-sizing: border-box; /* Add this to fix the width issue */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 15px solid #fff;
}

.site-footer {
  position: fixed;
  position: static;
  margin-top: 50px;
  bottom: 0;
  width: 100%;
  height: auto;
  height: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12.5px;
}
.site-footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12.5px;
}
.link {
  display: flex;
  padding: 9px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 19px;
  border: 3px solid #b63636;
}
.card-img-top {
  width: 100%;
  height: 18vw;
  object-fit: cover;
}
.image1 {
  background-image: url("https://imaging.broadway.com/images/hero-72/w2800/h800/000000/125491-28.jpg");
  background-size: cover;
  background-position: center;
}

.image2 {
  background-image: url("https://imaging.broadway.com/images/hero-72/w2800/h800/000000/124606-22.jpg");
  background-size: cover;
  background-position: center;
}

.image3 {
  background-image: url("https://imaging.broadway.com/images/hero-72/w2800/h800/000000/120621-19.jpg");
  background-size: cover;
  background-position: center;
}
