.creators {
  display: flex;
  padding: 0px 390px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  margin-bottom: 50px;
}
a {
  text-decoration: none !important;
}
.site-footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12.5px;
}

.site-footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12.5px;
}
.link {
  display: flex;
  padding: 9px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 19px;
  border: 3px solid #b63636;
}
.card-img-top {
  width: 100%;
  height: 18vw;
  object-fit: cover;
}
